{# templates/stvoriPredmet.html.twig #}
{% extends 'mentor/mentor.html.twig.' %}

{% block title %}
    {{ parent() }} - Stvaranje
{% endblock %}

{% block pageTitle %}
    Stvaranje predmeta
{% endblock %}

{% block body %}
    <div class="container">
        {{ form(form) }}
    </div>
{% endblock %}
