{# templates/mentor/studenti.html.twig #}
{% extends 'mentor/mentor.html.twig' %}

{% block title %}
    {{ parent() }} - Upisni list studenta
{% endblock %}

{% block pageTitle %}
    Upisni list
{% endblock %}

{% block pageSubtitle %}
    Jakov Magazin
{% endblock %}


{% block body %}
    <!-- Glavni sadržaj -->
    <div class="container">

        <!-- Tablice -->
        <main class="row">
            <!-- Neupisani predmeti -->
            <div id="table_unenroled" class="col-md-6">
                <h2 class="text-center">Predmeti</h2>
                <hr>

                <h5 class="text-center">1. semestar</h5>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Šifra</th>
                        <th scope="col">Naziv</th>
                        <th scope="col">ECTS</th>
                        <th scope="col">Upis</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <th scope="row">SIT001</th>
                        <td scope="row">Fizika</td>
                        <td scope="row">6</td>
                        <td scope="row">
                            <button class="btn btn-primary">Upiši</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">SIT001</th>
                        <td scope="row">Fizika</td>
                        <td scope="row">6</td>
                        <td scope="row">
                            <button class="btn btn-primary">Upiši</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">SIT001</th>
                        <td scope="row">Fizika</td>
                        <td scope="row">6</td>
                        <td scope="row">
                            <button class="btn btn-primary">Upiši</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <h5 class="text-center">2. semestar</h5>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Šifra</th>
                        <th scope="col">Naziv</th>
                        <th scope="col">ECTS</th>
                        <th scope="col">Upis</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <th scope="row">SIT001</th>
                        <td scope="row">Fizika</td>
                        <td scope="row">6</td>
                        <td scope="row">
                            <button class="btn btn-primary">Upiši</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">SIT001</th>
                        <td scope="row">Fizika</td>
                        <td scope="row">6</td>
                        <td scope="row">
                            <button class="btn btn-primary">Upiši</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">SIT001</th>
                        <td scope="row">Fizika</td>
                        <td scope="row">6</td>
                        <td scope="row">
                            <button class="btn btn-primary">Upiši</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Upisani i položeni predmeti -->
            <div id="table_enroled" class="col-md-6">

                <!-- Upisani predmeti-->
                <h2 class="text-center">Upisi</h2>
                <hr>

                <h5 class="text-center">1. semestar</h5>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Šifra</th>
                        <th scope="col">Naziv</th>
                        <th scope="col">ECTS</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <th scope="row">SIT001</th>
                        <td scope="row">Fizika</td>
                        <td scope="row">6</td>
                        <td scope="row" class="text-success">Položeno</td>
                    </tr>
                    <tr>
                        <th scope="row">SIT001</th>
                        <td scope="row">Fizika</td>
                        <td scope="row">6</td>
                        <td scope="row">Položeno</td>
                    </tr>
                    <tr>
                        <th scope="row">SIT001</th>
                        <td scope="row">Fizika</td>
                        <td scope="row">6</td>
                        <td scope="row">Položeno</td>
                    </tr>
                    </tbody>
                </table>

                <h5 class="text-center">2. semestar</h5>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Šifra</th>
                        <th scope="col">Naziv</th>
                        <th scope="col">ECTS</th>
                        <th scope="col">Ispis</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <th scope="row">SIT001</th>
                        <td scope="row">Fizika</td>
                        <td scope="row">6</td>
                        <td scope="row">
                            <button class="btn btn-outline-danger">Ispiši</button>
                        </td>
                        <td scope="row">
                            <button class="btn btn-danger">Nepoloženo</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">SIT001</th>
                        <td scope="row">Fizika</td>
                        <td scope="row">6</td>
                        <td scope="row">
                            <button class="btn btn-outline-danger">Ispiši</button>
                        </td>
                        <td scope="row">
                            <button class="btn btn-danger">Nepoloženo</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">SIT001</th>
                        <td scope="row">Fizika</td>
                        <td scope="row">6</td>
                        <td scope="row">
                            <button class="btn btn-outline-danger">Ispiši</button>
                        </td>
                        <td scope="row">
                            <button class="btn btn-danger">Nepoloženo</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
{% endblock %}
